<!doctype html>
<html>
<head>
    <title>CSE 591 Adaptive Web</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            word-wrap:break-word;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Profile Page</h1>
        <a href="/stats" class="btn btn-default btn-sm">Visualizations</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3> Log in details</h3>
                    <p>
                        <strong>User</strong>: <%= user.local.username %><br>
                    </p>

                    <h2>Login History</h2>
                        <ul class="list-group">
                        <% for(var i=0; i < user.loginHistory.length; i++) { %>
                        <li class="list-group-item"><%= user.loginHistory[i] %></li>
                        <% } %>
                    </ul>

                    <h2>Logout History</h2>
                        <ul class="list-group">
                        <% for(var i=0; i < user.logoutHistory.length; i++) { %>
                        <li class="list-group-item"><%= user.logoutHistory[i] %></li>
                        <% } %>
                    </ul>

            </div>
        </div>

        <div class="col-sm-6">
        <a href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15" style="font-size: 40px" target="_blank">Stackoverflow >></a>

        <div class="well">

        <a href="/behaviors" class="btn btn-default btn-sm">View event logs</a>

        <h3></span> Why log these actions?</h3>
        <ul class="list-group">
            <li class="list-group-item">Click on question - To track how many questions the user has opened to see if s/he is active in the topics that s/he is interested.</li>
            <li class="list-group-item">Click on Hot Network question - To track if the user navigates to other topics which are commonly viewed by others.</li>
            <li class="list-group-item">Open tags - To capture tags which interest the user.</li>
            <li class="list-group-item">Upvote/Downvote questions - To analyze the sentiment of the user's views.</li>
            <li class="list-group-item">Boookmark pages - To gather user's favorite pages.</li>
            <li class="list-group-item">Upvote/Downvote answers - To analyze the user's acknowledgement of the right/wrong answers.</li>
            <li class="list-group-item">Copy answers - To track if the user sees the answers as something s/he can reuse.</li>
            <li class="list-group-item">Submit new answers - To analyze if the user is active in sharing his ideas to relevant questions.</li>
            <li class="list-group-item">Submit new comments - To analyze sentiment of the user towards answers in a post.</li>
            <li class="list-group-item">Go to page number - To track user's navigation to see if s/he is digging deep into a particular topic or tag.</li>
        </ul>
        </div>
        </div>

    </div>

</div>
</body>
</html>